<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
        <li class="active"><a href="{{ requestRoot }}">Error</a>
    </ul>

    <h2>{{ code }}</h2>

    <p>
    An error occurred.
    </p>

    <p class="error">
        <code>
            {{ message }}
        </code>
    </p>

    {% include 'footer.twig' %}
</body>
</html>
