<hr>
<div class="footer">
    {% if _show_logout is defined and _form_auth_login_page is not defined %}
        <form class="simple" method="post" action="{{ requestRoot }}_form/auth/logout">
            <fieldset>
                <button type="submit">Sign Out</button>
            </fieldset>
        </form>
    {% endif %}
</div>
