<ul class="menu">
  <li {%if activeItem == 'connections' %}class="active"{% endif %}><a href="connections">{% trans "Connections" %}</a></li>
  <li {%if activeItem == 'users' %}class="active"{% endif %}>      <a href="users">{% trans "Users" %}</a></li>
  <li {%if activeItem == 'info' %}class="active"{% endif %}>       <a href="info">{% trans "Info" %}</a></li>
  <li {%if activeItem == 'stats' %}class="active"{% endif %}>      <a href="stats">{% trans "Stats" %}</a></li>
  <li {%if activeItem == 'messages' %}class="active"{% endif %}>   <a href="messages">{% trans "Messages" %}</a></li>
  <li {%if activeItem == 'log' %}class="active"{% endif %}>        <a href="log">{% trans "Log" %}</a></li>
</ul>
