<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div class="container">
        {% include 'header.twig' %}

        <ul class="nav nav-pills">
          <li role="presentation"><a href="connections">Connections</a></li>
          <li role="presentation"><a href="servers">Servers</a></li>
          <li role="presentation"><a href="configurations">Configurations</a></li>
          <li role="presentation"><a href="users">Users</a></li>
          <li role="presentation" class="active"><a href="documentation">Documentation</a></li>
        </ul>

        <h2>Documentation</h2>
        <p>
            The Admin Portal can be used to manage the VPN for day-to-day 
            operation. Some of its functions require a little explanation. 
            These are documented here.
        </p>

        <h3>Connections</h3>
        <p>
            A <em>connection</em> is a client that is currently connected to
            one of the VPN servers managed by this instance. They can be found 
            in the <a href="connections">Connections</a> tab. The connection 
            tab allows the administrator to <em>Revoke &amp; Disconnect</em> a
            session which means the certificate belonging to the configuration
            is revoked and the connection is closed.
        </p>
        
        <h3>Configurations</h3>
        <p>
            A <em>configuration</em> is a VPN configuration created by a user 
            and configured in their device. It may or may not be currently 
            connected. The configurations can be seen in the 
            <a href="configurations">Configurations</a> tab. Configurations can
            be revoked which makes it impossible for a client with this 
            configuration to connect to the VPN. If the client is currently 
            connected it will <em>not</em> be disconnected!
        </p>

        <h3>Users</h3>
        <p>
            A <em>user</em> created a configuration and used that configuration
            to connect to the VPN. The users that have configurations for this
            VPN are listed under the <a href="users">Users</a> tab. A user can
            be <em>blocked</em>, which means they can no longer login to the
            User Portal. Active configurations and VPN connections are not 
            terminated when a user is blocked.
        </p>

        <h3>Servers</h3>
        <p>
            The <em>servers</em> listed in the <a href="servers">Servers</a> 
            tab are available for connections. A brief status overview is
            given for each server.
        </p>

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>

