<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="mainMenu">
      <li><a href="connections">Connections</a></li>
      <li><a href="servers">Servers</a></li>
      <li><a href="configurations">Configurations</a></li>
      <li><a href="users">Users</a></li>
      <li class="active"><a href="documentation">Documentation</a></li>
      <li><a href="log">Log</a></li>
    </ul>

    <h2>Documentation</h2>
    <p>
        The Admin Portal can be used to manage the VPN for day-to-day 
        operation. Here you will find common operation scenarios and how to deal with
        them.
    </p>

    <h3>Compromised Client</h3>
    <p>
A user has the VPN connection open, but it is clear that it needs to be 
stopped. This might be the case when his computer is infected with malware.
    </p>
    <p>
If the user is currently connected, their connection can be closed in the 
<a href="connections">Connections</a> tab. 
    </p>
    <p>
If the client (automatically) reconnects, the configuration can also be blocked 
or revoked as well from the <a href="configurations">Configurations</a> tab, 
preventing the client to reconnect.
    </p>
    
    <h3>Misbehaving User</h3>
    <p>
If stopping a user by revoking their configuration and disconnecting them does 
not work, the user can be prevented from creating a new configuration in the 
User Portal. The can be accomplished in the <a href="users">Users</a> tab.
    </p>
    <p>
Please note that this will not automatically disconnect and revoke existing 
configurations for that user, this can be accomplished through the 
<a href="connections">Connections</a> and 
<a href="configurations">Configurations</a> tabs.
    </p>

    {% include 'footer.twig' %}
</body>
</html>

