<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    <div class="container">
        {% include 'header.twig' %}

        <ul class="nav nav-pills">
          <li role="presentation"><a href="connections">Connections</a></li>
          <li role="presentation"><a href="servers">Servers</a></li>
          <li role="presentation"><a href="configurations">Configurations</a></li>
          <li role="presentation"><a href="users">Users</a></li>
          <li role="presentation" class="active"><a href="documentation">Documentation</a></li>
        </ul>

        <h2>Documentation</h2>
        <p>
            The Admin Portal can be used to manage the VPN for day-to-day 
            operation. Here you will find common scenarios and how to deal with
            them.
        </p>

        <h3>Compromised Client</h3>
        <p>
            A user has the VPN connection open, but it is clear that his 
            computer is infected with malware and needs to be stopped.
        </p>
        <p>
            If the user is currently connected, their connection can be 
            terminated and the configuration revoked in the 
            <a href="connections">Connections</a> tab. This will prevent the 
            user from (automatically) reconnecting and require downloading a
            new configuration from the User Portal.
        </p>    
        <p>
            If the user is not currently connected, the configuration can be
            revoked from the <a href="configurations">Configurations</a> tab.
        </p>

        <h3>Misbehaving User</h3>
        <p>
            If stopping a user by revoking their configuration and 
            disconnecting them does not work, the user can be prevented from
            creating a new configuration in the User Portal. The can be 
            accomplished in the <a href="users">Users</a> tab. 
        </p>
        <p>
            This will not automatically disconnect and revoke existing 
            configurations for that user, this can be accomplished through the 
            <a href="connections">Connections</a> and 
            <a href="configurations">Configurations</a> tabs.
        </p>

        {% include 'footer.twig' %}
    </div> <!-- /container -->
</body>
</html>

