{% set activeItem = 'info' %}
{% extends "base.twig" %}
{% block content %}
    {% for profile in profileList %}
        <h2>{{ profile.displayName }}</h2>

        <table>
            <tbody>
                {% for key, v in profile %}
                    <tr>
                        <th>{{ key }}</th>
                        {% if v is iterable and v is not empty %}
                            <td>
                            <ul class="simple">
                                {% for x in v %}
                                    <li>{{ x }}</li>
                                {% endfor %}
                            </ul>
                            </td>
                        {% elseif v is same as (true) %}
                            <td><span class="plain">{% trans "Yes" %}</span></td>
                        {% elseif v is same as (false) %}
                            <td><span class="plain">{% trans "No" %}</span></td>
                        {% elseif v is empty %}
                            <td><em>{% trans "N/A" %}</em></td>
                        {% else %}                        
                            <td> {{ v }}</td>
                        {% endif %}    
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
