{% set activeItem = 'users' %}
{% extends "base.twig" %}
{% block content %}
    {% if userList is empty %}
        <p class="plain">{% trans "There are no users with VPN configurations." %}</p>
    {% else %}
        <table>
            <thead>
                <tr><th>{% trans "User ID" %}</th><th class="text-right">{% trans "Status" %}</th></tr>
            </thead>
            <tbody>
                {% for user in userList %}
                    <tr>
                        <td><a href="{{ requestRoot }}user?user_id={{ user.user_id|url_encode }}">{{ user.user_id }}</a></td>
                        <td class="text-right">
                            {% if user.has_totp_secret %}
                                <span class="plain">{% trans "TOTP" %}</span>
                            {% endif %}
                            {% if user.is_disabled %}
                                <span class="error">{% trans "Disabled" %}</span>
                            {% else %}
                                <span class="success">{% trans "Active" %}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
