<?php

return [
    // set secureCookie flag, so browser only sends them over HTTPS
    'secureCookie' => false,

    'enableTemplateCache' => true,

    'authMethod' => 'FormAuthentication',
    //'authMethod' => 'MellonAuthentication',

    'FormAuthentication' => [
    ],

    'MellonAuthentication' => [
        'attribute' => 'MELLON_NAME_ID',
        //'attribute' => 'MELLON_eduPersonTargetedID',

        // add the entityID of the IdP to the user ID as to make sure the user
        // IDs are unique among the (multiple) IdPs. This MUST be set to true
        // for e.g. eduGAIN
        'addEntityID' => true,
    ],

    // supported languages in the UI, the first one mentioned is the default
    'supportedLanguages' => [
        'en_US' => 'English',
        //'nl_NL' => 'Nederlands',
        //'fr_FR' => 'Français',
        //'de_DE' => 'Deutsch',
    ],

    'apiUser' => 'vpn-admin-portal',
    'apiPass' => 'XXX-vpn-admin-portal/vpn-server-api-XXX',
    'apiUri' => 'http://localhost/vpn-server-api/api.php',
];
