<?php

return [
    // set secureCookie flag, so browser only sends them over HTTPS
    'secureCookie' => false,

    'enableTemplateCache' => true,

    'authMethod' => 'FormAuthentication',
    //'authMethod' => 'MellonAuthentication',

    'FormAuthentication' => [
    ],

    'MellonAuthentication' => [
        'attribute' => 'MELLON_NAME_ID',
        //'attribute' => 'MELLON_eduPersonTargetedID',
    ],

    'apiUser' => 'vpn-admin-portal',
    'apiPass' => 'XXX-vpn-admin-portal/vpn-server-api-XXX',
    'apiUri' => 'http://localhost/vpn-server-api/api.php',
];
