authMethod = BasicAuthentication
;authMethod = MellonAuthentication

[BasicAuthentication]
; foo:bar
foo = $2y$10$nuIiy1pTYoBjPI89yuWfueTLTier0kBufq3V5jRxkH6xr2/QAH7UW

[MellonAuthentication]
attribute = 'MELLON_NAME_ID'
;attribute = 'MELLON_eduPersonTargetedID'

[VpnServerApi]
serviceUri  = 'http://localhost/vpn-server-api/api.php'
serviceUser = 'admin'
servicePass = 's3cr3t'

[VpnUserPortal]
serviceUri  = 'http://localhost/vpn-user-portal/api.php'
serviceUser = 'admin'
servicePass = 's3cr3t'
